<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.phone %}
        <div class="call-phone"><strong>Phone: </strong> {{ site.data.contact.phone }} </div>
    {% endif %}
    {% if site.data.contact.email %}
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .site.data.contact.email }}">
        {{ site.data.contact.email }}
      </a>
    </div>
    {% endif %}
    {% if site.data.contact.text %}
    <div>
      {{ site.data.contact.text }}
    </div>
    {% endif %}
  </div>
  {% if include.show_button %}
  <div class="call-box-bottom">
    <a target="_blank" rel="noopener noreferrer" class="button" onclick="gtag_report_conversion('https://docs.google.com/forms/d/1mNGK3Mp8ST9UV0g77V7qaytdyGsWyWgVYbFY5DxdZlU')" style="cursor:pointer;">問い合わせ</a>
  </div>
    {% endif %}
</div>
