---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        {% if page.show_call_box %}
          {% include call.html show_button=true %}
        {% endif %}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-0 pb-6 pb-md-10">
    <div class="row justify-content-start">
      <div class="col-12 col-md-12 mb-1">
	<h1>本サービスの特徴</h1>
      </div>
      {% assign limit = site.home.limit_services | default: 6 %}
      {% for service in site.services limit: limit %}
      <div class="col-12 col-md-4 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              {{ service.title }}
            </h2>
            <p>{{ service.content | markdownify }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-0 pb-6 pb-md-10">
    <div class="row justify-content-start">
      <div class="col-12 col-md-12 mb-1">
        <h1>お見積り例</h1>
      </div>
      <div class="col-12 col-md-6 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              お見積り例(1)
            </h2>
	    <img src="/images/estimate1.png" width="400" height="300" style="border: 1px solid #ccc;"/>
	    <p>
	      <ul style="line-height:26px;color:#5c5a5a;">
		<li>定期的に更新される対象のウェブサイトをクローリング</li>
		<li>クロール結果はサーバ上にファイルとして出力</li>
		<li>合計 180,000円(税抜)</li>
	      </ul>
	    </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              お見積り例(2)
            </h2>
	    <img src="/images/estimate2.png" width="400" height="300" style="border: 1px solid #ccc;"/>
	    <p>
	      <ul style="line-height:26px;color:#5c5a5a;">
		<li>定期的に更新される対象ウェブサイト(10サイト程度)をクローリングして、DBにデータを自動蓄積したい</li>
		<li>データの一覧表示、検索、各種マスタデータの管理ができる最低限の機能を持った管理画面</li>
		<li>外部システムとの連携用のAPI</li>
		<li>合計 1,630,000円(税抜)</li>
	      </ul>
	    </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-0 pb-6 pb-md-10">
    <div class="row justify-content-center">
      <div class="col-12 col-md-12 mb-1">
	<h1>お問い合わせ</h1>
      </div>
      <div class="col-12 col-md-12 mb-1">
	<div class="call">
	  <div class="call-box-top">
	    <div>
	      SPTクローラー開発ソリューションについての<br />お問い合わせ・資料請求はこちら
	    </div>
	  </div>
	  <div class="call-box-bottom">
	    <a target="_blank" rel="noopener noreferrer" class="button" onclick="gtag_report_conversion('https://docs.google.com/forms/d/1mNGK3Mp8ST9UV0g77V7qaytdyGsWyWgVYbFY5DxdZlU')" style="cursor:pointer;">問い合わせ</a>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
